---
http_interactions:
- request:
    method: get
    uri: https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cmc-Pro-Api-Key:
      - a512ef61-3d88-48bb-a976-35254e0c5b80
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "status": {
                "timestamp": "2019-03-16T11:00:07.742Z",
                "error_code": 0,
                "error_message": null,
                "elapsed": 9,
                "credit_count": 1
            },
            "data": [
                {
                    "id": 1,
                    "name": "Bitcoin",
                    "symbol": "BTC",
                    "slug": "bitcoin",
                    "circulating_supply": 17591587,
                    "total_supply": 17591587,
                    "max_supply": 21000000,
                    "date_added": "2013-04-28T00:00:00.000Z",
                    "num_market_pairs": 6724,
                    "tags": [
                        "mineable"
                    ],
                    "platform": null,
                    "cmc_rank": 1,
                    "last_updated": "2019-03-16T10:59:27.000Z",
                    "quote": {
                        "USD": {
                            "price": 4068.38998795,
                            "volume_24h": 10546786582.5334,
                            "percent_change_1h": 0.193856,
                            "percent_change_24h": 3.34728,
                            "percent_change_7d": 3.03763,
                            "market_cap": 71569436422.95137,
                            "last_updated": "2019-03-16T10:59:27.000Z"
                        }
                    }
                },
                {
                    "id": 1027,
                    "name": "Ethereum",
                    "symbol": "ETH",
                    "slug": "ethereum",
                    "circulating_supply": 105258596.6241,
                    "total_supply": 105258596.6241,
                    "max_supply": null,
                    "date[...]
[...]
